<nav class="navbar">
    <div class="logoDiv">
        <img src="./../../favicon.ico" alt="Image">
    <p><b>Wertschöpfung AG</b></p>
    </div>
    
    <a routerLink="/home">Home</a>
    <a routerLink="/products">Products</a>
    
    <div class="logoDiv">
        <img class="cartImage" src="../../../assets/shopping-cart.png" alt="Shopping Cart Icon">
        <a routerLink="/cart">Cart</a>
    </div>
    <a routerLink="/contact">Contact</a>
    
    <div class="logoDiv">
        <img src="../../../assets/user.png" alt="User Icon" class="cartImage">
        <a routerLink="/account">Account</a>
    </div>
    
</nav>