.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(198, 236, 252);
    align-items: center;
    cursor: pointer;
    border-bottom: 0.5px solid grey;
}
.navbar a:hover{
    color: red;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.logoDiv{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.logoDiv img {
    margin-right: 10px;
}
.cartImage{
    width: 25px;
}