<div>
    <h3>Sign Up</h3>
    <div class="loginDiv">    
        <form class="loginForm" action="">
            <input type="text" name="firstname" placeholder="Firstname" required>
            <input type="text" name="lastname" placeholder="Lastname" required>
            <input type="email" name="email" id="email" placeholder="E-Mail" required>
            <input type="password" id="password" placeholder="Password" required>
            <button class="loginBtn">Sign Up</button>
        </form>
    </div>

    <h3>or back to</h3>
    <br><br>
    <div class="signUpDiv">
        <a (click)="goToAccount()">Login</a>
    </div>
</div>