<br>
<h3>Contact</h3>



<div class="anschrift">
    <b>Wertschöpfung AG</b>
    <p>Alteburgstraße 150</p>
    <p>72762 Reutlingen</p>
</div>
<br><br>
<div >
    <h3 class="anschrift">Contact Us</h3>
    <form class="emailForm" action="">
        <input type="text" placeholder="Name" required>
        <input type="email" placeholder="Email" required>
        <input type="text" placeholder="Company">
        <button>Send E-Mail</button>
    </form>
</div>

<br>

<div >
    <iframe class="contactBox" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5577.924952457968!2d9.187490286330096!3d48.48295278256734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle%20maps%20hochschule%20reutlingen!5e0!3m2!1sde!2sde!4v1681153617486!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<br><br>