<div>
    <h3>Login</h3>
    <div class="loginDiv">    
        <form class="loginForm" action="">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <button class="loginBtn">Login</button>
        </form>
    </div>
    <h3>Don't have an account yet?</h3>
    <br><br>
    <div class="signUpDiv">
         <a routerLink="signUp">Sign Up</a>
    </div>
   
</div>